* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span {
    font-size: smaller;
}

body .jumbotron{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Titanic_banner.jpg");
    color: white;
}
.description{
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 0;
  text-align: justify;
}

.male {
    fill: steelblue;
}

.female {
    fill: hotpink;
}

.label {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}

.backgroundArc {
    fill: #ddd;
}

.labels {
    font-size: smaller;
}

.lines {
    stroke: black;
    stroke-width: 1px;
    fill: none;
    opacity: 0.3;
}

.chart {
    margin: 10px;
    border-radius: 5px;
    border: solid #555555 thin;
    background-color: #eee;
}
